@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components{
    /* body::before{
      display: block;
      content: '';
      height: 56px; */
    /* } */
    /* #links .active{
      @apply text-secondary-color-two
    } */
  }